---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import smartphone from "../assets/images/bl_tabletmobil.svg";
import desktop from "../assets/images/pc.svg";
import email from "../assets/images/bl_email.svg";
import cloud from "../assets/images/cloud.svg";
import { Image } from "astro:assets";
---

<MainLayout title="Hvordan man deltager">
  <section>
    <div class="overskiftsection md:pt-10 m-8">
      <h1 class="text-5xl md:text-6xl jersey">
        Sådan laver du en digital oprydning
      </h1>
      <h2 class="text-2xl md:text-3xl jersey mt-2">
        Digital oprydningsdag for privatpersoner
      </h2>
    </div>
  </section>

  <div class="relative">
    <div
      class="streg hidden md:block absolute top-3 bottom-3 left-[66.5%] w-[1px] bg-[#AEC5D9]"
    >
    </div>

    <!-- Trin 1 -->
    <section class="trinboks1 p-3 md:mt-28 md:mb-60 relative">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4 items-center">
        <h1
          class="text-9xl jersey text-[#24EA78] text-center flex items-center justify-center md:col-span-1 md:text-[200px]"
        >
          01
        </h1>
        <div
          class="bg-[#195073] border-2 border-[#AEC5D9] p-4 md:col-span-2 flex flex-col md:flex-row items-center md:items-center md:justify-center space-y-4 md:space-y-0 md:space-x-6"
        >
          <div class="flex-shrink-0 flex justify-center items-center">
            <Image src={smartphone} alt="img" class="object-cover" />
          </div>
          <div class="flex flex-col w-full text-left md:text-left">
            <h2
              class="text-2xl mb-4 jersey text-[#24EA78] text-center md:text-left"
            >
              RYD OP PÅ DIN SMARTPHONE
            </h2>
            <p class="mb-8">
              Fjern alle de apps, du ikke har brugt i et stykke tid, eller kun
              har brugt få gange. Vær ærlig og modig! Slet alle de unødvendige,
              glemte, gamle apps og spil, som du har downloadet, men endnu ikke
              rigtig prøvet. Chancen for, at du pludselig vil begynde at bruge
              dem senere, er meget lille! De bruger energi, selv når de ikke er
              i brug, og kan forbruge hundredvis af megabytes under månedlige
              opdateringer.
              <p>
                Husk også at slette brugerkonti (inklusive e-mails) og
                tilknyttede data, som du oprettede, da du var 15, og som du ikke
                har tilgået i årtier! Det vil gøre din telefon hurtigere og
                forlænge batteriets levetid. Det er altid en fordel at have så
                få apps som nødvendigt.
              </p>
              <br />
              <p>
                Gennemgå dine fotos og videoer. Ved at slette de unødvendige og
                eventuelle dubletter kan du frigøre adskillige gigabyte af
                værdifuld lagerplads. Se vejledningen til, hvordan du rydder op
                på din smartphone og tablet.
              </p>
            </p>

            <Link
              variant="primary"
              size="small"
              target="_blank"
              href="https://drive.google.com/file/d/1fN0bgV8R1WAirubd_1QlSH17lYHt6eE_/view"
              >Se vejledning</Link
            >
          </div>
        </div>
      </div>
    </section>

    <!-- Trin 2 -->
    <!-- Trin 2 -->
    <section class="trinboks2 p-3 md:mb-60 relative">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4 items-center">
        <h1
          class="text-9xl jersey text-[#24EA78] flex items-center justify-center md:col-span-1 md:text-[200px]"
        >
          02
        </h1>
        <div
          class="bg-[#195073] border-2 border-[#AEC5D9] p-4 md:col-span-2 flex flex-col md:flex-row items-center md:items-center md:justify-center space-y-4 md:space-y-0 md:space-x-6"
        >
          <div class="flex-shrink-0 flex justify-center items-center">
            <Image src={desktop} alt="img" class="object-cover" />
          </div>
          <div class="flex flex-col w-full text-left md:text-left">
            <h2
              class="text-2xl mb-4 jersey text-[#24EA78] text-center md:text-left"
            >
              RYD OP PÅ DIN COMPUTERS HARDDISK
            </h2>
            <p class="mb-8">
              Sortér din personlige computer og slet filer, der er dubletter
              eller blevet unødvendige. Gennemgå alle dine fotos og slet
              dubletter og slørede billeder. Tjek videofilerne og slet de sete
              eller unødvendige. Arkiver de vigtige filer. Vær forberedt på at
              finde virkelig fantastiske ting på din computer!
            </p>
            <Link
              variant="primary"
              size="small"
              target="_blank"
              href="https://drive.google.com/file/d/1i8rKagvbCXk4JciaEg896YUUti3bjLbU/view"
              >Se vejledning</Link
            >
          </div>
        </div>
      </div>
    </section>

    <!-- Trin 3 -->
    <!-- Trin 3 -->
    <section class="trinboks3 p-3 md:mb-60 relative">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4 items-center">
        <h1
          class="text-9xl jersey text-[#24EA78] flex items-center justify-center md:col-span-1 md:text-[200px]"
        >
          03
        </h1>
        <div
          class="bg-[#195073] border-2 border-[#AEC5D9] p-4 md:col-span-2 flex flex-col md:flex-row items-center md:items-center md:justify-center space-y-4 md:space-y-0 md:space-x-6"
        >
          <div class="flex-shrink-0 flex justify-center items-center">
            <Image src={email} alt="img" class="object-cover" />
          </div>
          <div class="flex flex-col w-full text-left md:text-left">
            <h2
              class="text-2xl mb-4 jersey text-[#24EA78] text-center md:text-left"
            >
              RYD OP I DIN INDBAKKE
            </h2>
            <p class="mb-8">
              Filtrer e-mails efter den ældste og arkiver dem. Afmeld
              nyhedsbreve, du ikke engang læser. Vælg lange samtaler, vælg den
              nyeste og slet alt andet! Søg efter almindelige navne, adresser og
              ord for at samle lignende e-mails, så du kan håndtere dem samlet.
              Vær modig og klik på slet-knappen.
            </p>

            <Link
              variant="primary"
              size="small"
              target="_blank"
              href="https://drive.google.com/file/d/1Capnwt-idzQoVtV1jNTM2HeJnvYVNQIi/view"
              >Se vejledningen</Link
            >
          </div>
        </div>
      </div>
    </section>

    <!-- Trin 4 -->
    <section class="trinboks4 p-3 mb-20 relative">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4 items-center">
        <h1
          class="text-9xl jersey text-[#24EA78] flex items-center justify-center md:col-span-1 md:text-[200px]"
        >
          04
        </h1>
        <div
          class="bg-[#195073] border-2 border-[#AEC5D9] p-4 md:col-span-2 flex flex-col md:flex-row items-center md:items-center md:justify-center space-y-4 md:space-y-0 md:space-x-6"
        >
          <div class="flex-shrink-0 flex justify-center items-center">
            <Image src={cloud} alt="img" class="object-cover" />
          </div>
          <div class="flex flex-col w-full text-left md:text-left">
            <h2
              class="text-2xl mb-4 jersey text-[#24EA78] text-center md:text-left"
            >
              LAV NYE ORDNINGER
            </h2>
            <p class="mb-8">
              Brug flere coworking-områder i stedet for at sende e-mails. Stop
              med at sende 'ok' og 'tak' e-mails! Opbevar de vigtige filer i et
              enkelt cloud-miljø, så du ikke behøver at have den samme fil på
              hver computer. Tænk dig om, før du sikkerhedskopierer. Skab mindre
              ‘hurtigt indhold’ og vær mere bevidst omkring dine videoer og
              fotos. Sørg for kun at sikkerhedskopiere de filer, du virkelig har
              brug for, og kun de fotos, du elsker.
              <br /><br />
              Små ændringer i dine internetvaner, såsom at slukke for video under
              et virtuelt møde, reducere kvaliteten af streamingtjenester, mindske
              spiltiden, begrænse tid på sociale medier og afmelde nyhedsbreve og
              e-maillister, kan markant reducere dit miljøaftryk!
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>

  <script>
    import { inView } from "motion";

    const overskiftsection = document.querySelector(".overskiftsection");
    inView(overskiftsection, ({ target }) => {
      target.classList.add(
        "animate__animated",
        "animate__fadeInLeftBig",
        "fadeInOpacity"
      );
    });

    const streg = document.querySelector(".streg");
    inView(streg, ({ target }) => {
      target.classList.add(
        "animate__animated",
        "animate__fadeIn",
        "fadeInOpacity",
        "animate__delay-2s"
      );
    });

    const trinboks1 = document.querySelector(".trinboks1");
    inView(trinboks1, ({ target }) => {
      target.classList.add(
        "animate__animated",
        "animate__fadeInRightBig",
        "fadeInOpacity",
        "animate__delay-1s"
      );
    });

    const trinboks2 = document.querySelector(".trinboks2");
    inView(trinboks2, ({ target }) => {
      target.classList.add(
        "animate__animated",
        "animate__fadeInRightBig",
        "fadeInOpacity",
        "animate__delay-1s"
      );
    });

    const trinboks3 = document.querySelector(".trinboks3");
    inView(trinboks3, ({ target }) => {
      target.classList.add(
        "animate__animated",
        "animate__fadeInRightBig",
        "fadeInOpacity",
        "animate__delay-1s"
      );
    });

    const trinboks4 = document.querySelector(".trinboks4");
    inView(trinboks4, ({ target }) => {
      target.classList.add(
        "animate__animated",
        "animate__fadeInRightBig",
        "fadeInOpacity",
        "animate__delay-1s"
      );
    });
  </script>
</MainLayout>
