---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import smartphone from "../assets/images/smartphone.webp";
import desktop from "../assets/images/desktop.webp";
import email from "../assets/images/email.webp";
import cloud from "../assets/images/cloud.webp";
import { Image } from "astro:assets";
---

<MainLayout title="Hvordan man deltager">
  <section>
    <div class="pt-28 md:pt-10">
      <h1 class="text-4xl jersey">Sådan laver du en digital oprydning</h1>
      <h2 class="text-xl jersey">Digital oprydningsdag for privatpersoner</h2>
    </div>
  </section>

  <section>
    <h1
      class="text-9xl mt-10 jersey flex items-center justify-center text-[#1DBF62]"
    >
      01
    </h1>
    <div class="bg-[#195073] border-2 border-[#AEC5D9] ml-2 mr-2">
      <div class="flex items-center justify-center pt-8 mb-8">
        <Image src={smartphone} alt="img" class="" />
      </div>
      <h2
        class="text-2xl mb-4 jersey text-[#1DBF62] flex items-center justify-center"
      >
        RYD OP PÅ DIN SMARTPHONE
      </h2>
      <p class="mb-8 pl-4 pr-4">
        Fjern alle de apps, du ikke har brugt i et stykke tid, eller kun har
        brugt få gange. Vær ærlig og modig! Slet alle de unødvendige, glemte,
        gamle apps og spil, som du har downloadet, men endnu ikke rigtig prøvet.
        Chancen for, at du pludselig vil begynde at bruge dem senere, er meget
        lille! De bruger energi, selv når de ikke er i brug, og kan forbruge
        hundredvis af megabytes under månedlige opdateringer. Husk også at
        slette brugerkonti (inklusive e-mails) og tilknyttede data, som du
        oprettede, da du var 15, og som du ikke har tilgået i årtier! Det vil
        gøre din telefon hurtigere og forlænge batteriets levetid. Det er altid
        en fordel at have så få apps som nødvendigt. Gennemgå dine fotos og
        videoer. Ved at slette de unødvendige og eventuelle dubletter kan du
        frigøre adskillige gigabyte af værdifuld lagerplads. Se vejledningen
        til, hvordan du rydder op på din smartphone og tablet.
      </p>
    </div>
  </section>

  <section>
    <h1 class="text-9xl jersey flex items-center justify-center text-[#1DBF62]">
      02
    </h1>
    <div>
      <Image src={desktop} alt="img" class="" />
    </div>
    <h2>RYD OP PÅ DIN COMPUTERS HARDDISK</h2>
    <p>
      Sortér din personlige computer og slet filer, der er dubletter eller
      blevet unødvendige. Gennemgå alle dine fotos og slet dubletter og slørede
      billeder. Tjek videofilerne og slet de sete eller unødvendige. Arkiver de
      vigtige filer. Vær forberedt på at finde virkelig fantastiske ting på din
      computer! Se vejledningen til, hvordan du rydder op på din computer og
      harddisk.
    </p>
  </section>

  <section>
    <h1 class="text-9xl jersey flex items-center justify-center text-[#1DBF62]">
      03
    </h1>
    <div>
      <Image src={email} alt="img" class="" />
    </div>
    <h2>RYD OP I DIN INDBAKKE</h2>
    <p>
      Filtrer e-mails efter den ældste og arkiver dem. Afmeld nyhedsbreve, du
      ikke engang læser. Vælg lange samtaler, vælg den nyeste og slet alt andet!
      Søg efter almindelige navne, adresser og ord for at samle lignende
      e-mails, så du kan håndtere dem samlet. Vær modig og klik på slet-knappen.
      Se vejledningen til, hvordan du rydder op i din indbakke!
    </p>
  </section>

  <section>
    <h1 class="text-9xl jersey flex items-center justify-center text-[#1DBF62]">
      04
    </h1>
    <div>
      <Image src={cloud} alt="img" class="" />
    </div>
    <h2>LAV NYE ORDNINGER</h2>
    <p>
      Brug flere coworking-områder i stedet for at sende e-mails. Stop med at
      sende 'ok' og 'tak' e-mails! Opbevar de vigtige filer i et enkelt
      cloud-miljø, så du ikke behøver at have den samme fil på hver computer.
      Tænk dig om, før du sikkerhedskopierer. Skab mindre ‘hurtigt indhold’ og
      vær mere bevidst omkring dine videoer og fotos. Sørg for kun at
      sikkerhedskopiere de filer, du virkelig har brug for, og kun de fotos, du
      elsker. Små ændringer i dine internetvaner, såsom at slukke for video
      under et virtuelt møde, reducere kvaliteten af streamingtjenester, mindske
      spiltiden, begrænse tid på sociale medier og afmelde nyhedsbreve og
      e-maillister, kan markant reducere dit miljøaftryk!
    </p>
  </section>
</MainLayout>
